body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.frame {
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 6px 10px 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: #121212;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.metaball {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
}

.wave {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;

  &-1 {
    position: absolute;
    top: 10px;
    left: 30px;
    transform-origin: 30px 23px;
    animation: loader 3s linear infinite;
  }

  &-2 {
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 30px 50px;
    animation: loader 2s linear infinite;
  }
}

.drop {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 20px 90px;
  animation: loader 4s linear infinite;

  &-2 {
    position: absolute;
    right: 20px;
    top: 10px;
    transform-origin: 20px 80px;
    animation: loader 7s linear infinite;
  }

  &-3 {
    position: absolute;
    left: 20px;
    top: 40px;
    transform-origin: 20px 70px;
    animation: loader 3s linear infinite;
  }

  &-4 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform-origin: 30px 50px;
    animation: loader 3s linear infinite;
  }
}

.drop-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transform-origin: 30px 50px;
  animation: loader 3s linear infinite;

  .sm {
    animation: loader 5s linear infinite;
    transform-origin: 90px 10px;
    position: absolute;
    right: 19px;
  }

  .sm2 {
    animation: loader 4s linear infinite;
    transform-origin: 5px 90px;
    position: absolute;
    top: -20px;
    left: 2px;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
