.body {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#37d5d6),
    to(#36096d)
  );
  background: linear-gradient(to right bottom, #37d5d6, #36096d);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.frame {
  width: 400px;
  height: 400px;
  background: #17202a;
  -webkit-box-shadow: 0 15px 25px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 25px 20px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  display: none;
}

.button {
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon,
.icon::before,
.icon::after {
  width: 90px;
  height: 8px;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.8);
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.8);
}

.icon::before {
  top: -25px;
}

.icon::after {
  top: 25px;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.checkbox:checked + .button .icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
